@model SDProject03.Models.BusModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BusModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusMap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusSeatType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusSeatType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusSeatPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusSeatPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusDepartureLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusDepartureLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusArrivalLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusArrivalLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
