@model IEnumerable<SDProject03.Models.LocationsModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <h1 class="text-center">Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationMap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationRating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationMap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationRating)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>