@model SDProject03.Models.TrainModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TrainModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainMap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainSeatType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainSeatType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainSeatPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainSeatPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainDepartureLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainDepartureLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainArrivalLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainArrivalLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrainId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
