@model SDProject03.Models.BlogPostsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BlogPostsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogsRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogsRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
