@model IEnumerable<SDProject03.Models.BlogPostsModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Posted Blogs</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostsName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogTitle)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.BlogsRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorsName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostedTime)
                </th>
              
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostsName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BlogTitle)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.BlogsRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorsName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostedTime)
                    </td>
                   
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>